# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
